CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.sln
*.vcxproj
*.filters
*.user
x64/
Wt-4.0.5-msvs2017-Windows-x64-SDK/
Release/
Debug/
hello.wt.dir/
.vs/
